version: '3'
services:
  app:
    build: .
    ports:
      - '8080:8080'
    environment:
      - server_port=8080
      - spring_datasource_driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
      - spring_datasource_maximum-pool-size=10
      - spring_datasource_url=jdbc:sqlserver://db:1433;databaseName=tima_uat;
      - spring_datasource_username=sa
      - spring_datasource_password=Strong.Pwd-123
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - '1433:1433'
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Strong.Pwd-123